<header>
  <div class="nav-left">
    <input class="nav-search" type="text" placeholder="Buscar" [(ngModel)]="styleFilter"/>
    <button id="btnSearch" class="btn btn-secondary" (click)="searchByFilters()">Buscar</button>
  </div>
  <div class="nav-right">
    <a class="username">{{name}} </a>
    <img
      class="nav-image"
      src="https://icon-library.com/images/my-profile-icon-png/my-profile-icon-png-22.jpg"
    />
    <a class="username" (click)="logOut()">Cerrar Sesion </a>
  </div>
</header>

<div class="main">
  <div class="content">
  <div *ngIf="songList else newSongs">
    <div class="card" *ngFor="let song of songList">
      <div class="cover">
        <a [routerLink]="['/song/',song.id]"><img [src]="'data:image/jpeg;base64,' + song.image" alt="cover" /></a>
        <div class="play-icon">
          <i class="fa fa-play"></i>
        </div>
      </div>
      <div class="card-content">
        <h4>{{song.name}}</h4>
      </div>
    </div>
  </div>
  <ng-template #newSongs>
    <app-news-songs></app-news-songs>
  </ng-template>

	<app-songs-most-famous></app-songs-most-famous>
  <app-songs-best-rated></app-songs-best-rated>
	<app-songs-for-you></app-songs-for-you>
  </div>
</div>
