<header>
  <div class="nav-left">
    <i [routerLink]="['/player/',username]" class="fa-solid fa-arrow-left"></i>
  </div>
  <div class="nav-right">
    <img class="nav-image" src="https://icon-library.com/images/my-profile-icon-png/my-profile-icon-png-22.jpg" />
    <a class="username" href="#">{{username}}</a>
  </div>
</header>
<div class="container">
  <img class="img" [src]="'data:image/jpeg;base64,'+ song.image" />
  <section class="card">
    <div>
      <p class="name">{{song.name}}</p>
      <p class="album">Album: {{song.albumName}}</p>
      <p class="artist">Artista/s: {{song.artistName}}</p>
      <p class="style">Estilo: {{song.styleName}}</p>
      <p class="duration">Duración: {{song.duration}} mins</p>
      <p-rating (onRate)="updateRating($event)" [stars]="4" [(ngModel)]="avg" [cancel]="false"></p-rating><br>
      <i (click)="updateplays()" class="fa-solid fa-play"></i>
    </div>
  </section>
</div>