<header>
    <div class="nav-left">
      <i [routerLink]="['/player/']" class="fa-solid fa-arrow-left"></i>
      <input class="nav-search" type="text" placeholder="Buscar"/>
    </div>
    <div class="nav-right">
      <img
        class="nav-image"
        src="https://icon-library.com/images/my-profile-icon-png/my-profile-icon-png-22.jpg"
      />
      <a class="username" href="#">{{username}}</a>
    </div>
  </header>
<div class="container">
    <img [src]="'data:image/jpeg;base64,'+song.image" />
    <section class="card">
        <div>
            <p>{{song.name}}</p>
            <p>Album: {{song.albumName}}</p>
            <p>Artista/s: {{song.artistName}}</p>
            <p>Estilo: {{song.styleName}}</p>
            <p>Duración(segundos): {{song.duration}}</p>
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
            </fieldset><br>
            <br><i class="fa fa-play">Reproducir</i>
        </div>
    </section>
</div>