header {
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: default !important;
  grid-area: header;
}
.nav-right {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}
.nav-left {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
}
.nav-search:focus {
  outline: 0;
}
.fa {
  color: white;
  text-decoration: none;
  cursor: default !important;
}
a:focus {
  outline: 0;
}
.nav-search {
  height: 1.55rem;
  border-radius: 30px;
  border: none;
  padding: 0.125rem;
  width: 13vmax;
  color: #222;
  margin: 0px 11px 0px 32px;
  padding-left: 12px;
  padding-bottom: 5px;
}
::placeholder {
  color: #222;
  opacity: 1;
  font-size: 0.8rem;
  letter-spacing: 0.0125em;
}
.nav-image {
  width: 24px;
  height: 24px;
}
.username {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #151515;
  margin: 0px 25px 0px 8px;
  cursor: default !important;
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 1px;
}
.username:hover {
  border-bottom: 1px solid white;
  visibility: visible;
  opacity: 1;
}
.username:focus {
  outline: 0;
}
  
  .container {
    margin-top: 10em;
    display: flex;
    padding: 40px;
    background-color: #121212;
  }
  img {
    max-width: 400px;
  }
  .card {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-weight: 300;
    background-color : #fff;
  }
  fieldset, label { 
    margin: 0; 
    padding: 0; 
  }
  body { 
    margin: 20px; 
  }
  h1 { 
  font-size: 1.5em; margin: 10px; 
  }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 