  .album-view-song-list {
    width: 90%;
    margin: 1.5rem auto;
    font-weight: 500;
    font-size: 1.25em;
    color: #bbbbbb;
  }
  
  .album-view-song-details {
    height: 3.5rem;
    font-weight: 600;
    font-size: 1.35em;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(104, 104, 104);
  }
  
  
  .song-item {
    width: 5%;
  }
  
  .song-item-title {
    width: 10%;
  }
  
  table {
    border-collapse: collapse;
    text-align: center;
  }

label{
    color: rgb(255, 255, 255);
    margin: 1em;
}

.row{
    margin: auto;
}
.btn{
    margin-top: 0.5em;
}
tr{
  margin: 3em 3em;
}
.imgSong{
  width: 6em;
}

.remove{
  background-color: red;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 1em;
}

.edit{
  background-color: rgb(208, 255, 206);
  border: 0;
  border-radius: 5px;
  padding: 5px 12px;
}