<div class="containerFiltros">

    <form>
        <div class="row">
            <div class="form-group" class="col-5 col-md-2">
                <label for="style">Estilo</label>
                <input type="text" name="style">
            </div>

            <div class="form-group" class="col-5 col-md-2">
                <label for="singer">Artista</label>
                <input type="text" name="singer">
            </div>

            <div class="form-group" class="col-5 col-md-2">
                <label for="album">Album</label>
                <input type="texts" name="album">
            </div>

            <div class="form-group" class="col-5 col-md-2">
                <label for="title">Titulo</label>
                <input type="texts" name="title">
            </div>

            <div class="col-2 col-md-2">
                <button id="btnSearch" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </form>
</div>
<table class="album-view-song-list">
    <thead class="album-view-song-list-heading">
        <tr class="album-view-song-details">
            <th class="song-item-heading">Track</th>
            <th class="song-item-title-heading">Title</th>
            <th class="song-item-heading">Album</th>
            <th class="song-item-heading">Singer</th>
            <th class="song-item-heading">Style</th>
            <th class="song-item-heading">Upload_Date</th>
            <th class="song-item-heading">Length</th>
            <th class="song-item-heading">Plays</th>
        </tr>
    </thead>
    <tr class="album-view-song-item">
        <td class="song-item">1</td>
        <td class="song-item-title">Blue</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">100</td>
    </tr>
    <tr class="album-view-song-item">
        <td class="song-item">1</td>
        <td class="song-item-title">Blue</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">100</td>
    </tr>
    <tr class="album-view-song-item">
        <td class="song-item">1</td>
        <td class="song-item-title">Blue</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">100</td>
    </tr>
    <tr class="album-view-song-item">
        <td class="song-item">1</td>
        <td class="song-item-title">Blue</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">X:XX</td>
        <td class="song-item">100</td>
    </tr>
</table>