$white: #ebecec;
$timing: 10s;



  .logo {
    width: 380px;
    height: 55px;
    margin: 15px 60px;
    background-image: url("https://i.imgur.com/7rYBFoa.png");
    background-size: cover;
  }

  .wrapper {
    margin: 100px 0;
    text-align: center;

    h1 {
      color: #1db954;
      font-size: 50px;
    }

    .profile {
      &-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 800px;
        margin: 50px auto;
      }
      width: 150px;
      &-icon {
        width: 150px;
        height: 150px;
        border: 6px solid #1f1f1f;
        transition: all 300ms ease;
      }
      &-name {
        margin: 20px 0;
        line-height: 1.25em;
        transition: all 300ms ease;
        color: $white;
      }
    }

    .profile:hover .profile-icon {
      border: 2px solid $white;
    }
    .profile:hover .profile-name {
      color: $white;
    }
  }
