<h4>Novedades</h4>
<div class="border-bottom"></div>

<div class="card">
    <div class="cover">
      <img src="https://upload.wikimedia.org/wikipedia/en/3/35/Muse_2nd_law.jpg" alt="cover" />
      <div class="play-icon">
        <i class="fa fa-play"></i>
      </div>
    </div>
    <div class="card-content">
      <h4><a href="#">Muse</a>: The Singless</h4>
      <p>Listen to <a hraf="#">Muses</a>'s singles now, including Supermassive black hole</p>
    </div>
  </div>


<div class="card">
    <div class="cover artist">
      <img src="https://media.pitchfork.com/photos/608839f84c67840074db8afb/1:1/w_600/Billie-Eilish-Happier-Than-Ever.jpeg" alt="cover" />
      <div class="play-icon">
        <i class="fa fa-play"></i>
      </div>
    </div>
    <div class="card-content">
      <h4><a href="#">Billie Eilish</a></h4>
      <p>Artist</p>
    </div>
  </div>


<div class="card">
    <div class="cover">
      <img src="https://media.pitchfork.com/photos/5c7d593e3a5a154e7b62f576/1:1/w_600/Dido_StillOnMyMind.jpg" alt="cover" />
      <div class="play-icon">
        <i class="fa fa-play"></i>
      </div>
    </div>
    <div class="card-content">
      <h4><a href="#">Still on My Mind</a></h4>
      <p><a href="#">Dido</a></p>
    </div>
  </div>


